<div class="home">
    <div class="home__whiteBox">
        <div class="home__whiteBox--title">
            <h2>Bienvenido a <em>Shopéame</em></h2>
        </div>
        <div class="home_whiteBox--blocks">
            <div class="home__whiteBox--blocks-title"><h4>¿Qué es <em>Shopéame</em>?</h4></div>
            <div class="home__whiteBox--blocks-p"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, provident quo. Maxime ex ut repellendus dolorum natus laboriosam explicabo assumenda tenetur. Exercitationem eos suscipit, dolorum id natus obcaecati amet maiores.</p></div>
        </div>
        <div class="home_whiteBox--blocks">
            <div class="home__whiteBox--blocks-title"><h4>¿Para qué puedo usar <em>Shopéame</em>?</h4></div>
            <div class="home__whiteBox--blocks-p"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, provident quo. Maxime ex ut repellendus dolorum natus laboriosam explicabo assumenda tenetur. Exercitationem eos suscipit, dolorum id natus obcaecati amet maiores.</p></div>
        </div>
        <div class="home_whiteBox--blocks">
            <div class="home__whiteBox--blocks-title"><h4>¿Quiénes hacemos en <em>Shopéame</em>?</h4></div>
            <div class="home__whiteBox--blocks-p"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, provident quo. Maxime ex ut repellendus dolorum natus laboriosam explicabo assumenda tenetur. Exercitationem eos suscipit, dolorum id natus obcaecati amet maiores.</p></div>
        </div>
        <div class="home_whiteBox--blocks">
            <div class="home__whiteBox--blocks-title"><h4>¿Es seguro usar <em>Shopéame</em>?</h4></div>
            <div class="home__whiteBox--blocks-p"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, provident quo. Maxime ex ut repellendus dolorum natus laboriosam explicabo assumenda tenetur. Exercitationem eos suscipit, dolorum id natus obcaecati amet maiores.</p></div>
        </div>

    </div>



</div>
